VITE_PASSWORD_RECOVERY_REQUEST_URL=""
VITE_PASSWORD_RECOVERY_RESET_URL=""
VITE_PASSWORD_RECOVERY_VERIFY_TOKEN_URL=""

VITE_WALLET_URL=""

VITE_LOGOUT_URL=""
VITE_LOGIN_URL=""

VITE_SIGNUP_REQUEST_URL=""
VITE_SIGNUP_CONFIRM_URL=""
VITE_SIGNUP_RESEND_CODE_URL=""

